networks:
  monitor:

services:
  mysql:
    image: mysql/mysql-server:5.7
    container_name: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "YES"
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - monitor
    ports:
      - "3306:3306"
    restart: always

  prod:
    build:
      context: .
      dockerfile: ./docker/Dockerfile_prod
    container_name: microblog
    environment:
      SECRET_KEY: ${SECRET_KEY}
      DATABASE_URL: mysql+pymysql://${MYSQL_USER}:${MYSQL_PASSWORD}@mysql:3306/${MYSQL_DATABASE}
    ports:
      - "5000:5000"
    networks:
      - monitor
    depends_on:
      - mysql
    restart: on-failure

  # test:
  #   build:
  #     context: .
  #     dockerfile: ./docker/Dockerfile_test
  #   volumes:
  #     - ./app:/home/microblog/app
  #     - ./tests:/home/microblog/tests
  node-exporter:
    image: prom/node-exporter:v1.2.2
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude="^/(sys|proc|dev|host|etc)($$|/)"'
    ports:
      - "9100:9100"
    networks:
      - monitor
    

  prometheus:
    image: prom/prometheus:v2.31.1
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./rules.yml:/etc/prometheus/rules.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=24h'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    networks:
      - monitor
    
  grafana:
    image: grafana/grafana:8.2.4
    container_name: grafana
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - monitor
    ports:
      - "3000:3000"

  alertmanager:
    image: prom/alertmanager:v0.23.0
    container_name: alertmanager
    restart: unless-stopped
    ports:
      - '9093:9093'
    volumes:
      - ./alertmanager.yml:/config/alertmanager.yml
    command: --config.file=/config/alertmanager.yml
    networks:
      - monitor

volumes:
  mysql_data:
  prometheus-data:
  grafana-data: