---
- name: Install required system packages
  ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present
        update_cache: yes

- name: Add Docker's official GPG key
  ansible.builtin.apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

- name: Add Docker repository (Ubuntu 22.04 - Jammy)
  ansible.builtin.apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu jammy stable
        state: present
        filename: docker

-   name: Install packages
    apt:
        name: "{{ packages }}"
        state: present
        update_cache: true

-   name: Start and enable Docker service
    service:
      name: docker
      state: started
      enabled: yes