---
-   name: Create MySQL data directory
    ansible.builtin.file:
      path: "{{ MYSQL_DATA_DIR }}"
      state: directory
      owner: root
      group: root
      mode: '0755'

-   name: Start MySQL Container
    community.docker.docker_container:
      name: "{{ mysql_container_name }}"
      image: "{{ mysql_image }}"
      restart_policy: always
      state: started
      env:
        MYSQL_ROOT_PASSWORD: "{{ MYSQL_ROOT_PASSWORD }}"
        MYSQL_DATABASE: "{{ MYSQL_DATABASE }}"
        MYSQL_USER: "{{ MYSQL_USER }}"
        MYSQL_PASSWORD: "{{ MYSQL_PASSWORD }}"
      published_ports:
        - "{{ MYSQL_PORT }}:3306"
      volumes:
        - "{{ MYSQL_DATA_DIR}}:/var/lib/mysql"
