name: Docker CD

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: read
  packages: write

jobs:
  ci-tests:
    uses: ./.github/workflows/ci.yml

  build-and-push:
    needs: ci-tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/microblog:${{ github.ref_name }}
