name: CD

on:
  push:
    tags:
      - "*.*.*"

permissions:
  contents: read
  packages: write

jobs:
  ci-tests:
    uses: ./.github/workflows/ci.yml

  # security-check:
  #   uses: ./.github/workflows/security-check.yml

  build-and-push:
    needs: 
      - ci-tests
      # - security-check

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./docker/Dockerfile_prod
        push: true
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/microblog:${{ github.ref_name }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache pip
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip'
        cache-dependency-path: |
          requirements/deploy.txt
          ansible/requirements.yml

    - name: Setup Python virtual environment
      run: |
        python3 -m venv .venv
        source .venv/bin/activate
        python -m pip install --upgrade pip
        pip install ansible[azure] --upgrade
        pip install -r requirements/deploy.txt
        ansible-galaxy collection install azure.azcollection --force
        pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt
        pip install --upgrade msal msal-extensions azure-cli-core azure-common
        cd ansible && ansible-galaxy install -r requirements.yml

    - name: Setup SSH 
      shell: bash
      run: |
        eval `ssh-agent -s`
        mkdir -p /home/runner/.ssh/
        touch /home/runner/.ssh/id_rsa
        echo -e "${{ secrets.SSH_PRIVATE_KEY }}" > /home/runner/.ssh/id_rsa
        chmod 700 /home/runner/.ssh/id_rsa

    - name: Run deploy playbook
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
      run: |
        cd ansible
        ansible-playbook -i hosts redeploy_app.yml \
          --private-key=/home/runner/.ssh/id_rsa \
          --extra-vars "image_tag=${{ github.ref_name }}"
